<article>
  <header>
    <h2><%= @event.name %></h2>
  </header>
  <p><%= @event.description %></p>

  <h3>When</h3>
  <p>
    <%= @event.starts_at %>
  </p>

  <h3>Where</h3>
  <p>
    <%= @event.location %>
  </p>

  <h3>Price<h3>
    <p>
      <%= format_price(@event) %>
    </p>
    
</article>
